{% extends 'bootstrap_html.html' %}
{% block content %}
    <form method="post" novalidate>
        <div class="form-group has-success" style="padding-top: 13%">
            <label class="control-label" for="inputSuccess1">请输入网站:</label>
            {{ form.url }}
            <div class="alert alert-success" role="alert">{{ form.url.errors.0}}</div>
        </div>
        <div style="text-align: center; padding-top: 8%">
            <button type="submit" style="text-align: center" class="btn btn-success">RPC开始</button>
        </div>
    </form>
{% endblock %}

{% block js %}
{% endblock %}