{% extends 'bootstrap_html.html' %}
{% block content %}
    <div class="bs-example" data-example-id="simple-table">
        <table class="table table-bordered">
            <caption>RPC任务列表
                <a href="#"><span class="label label-primary">未启动</span></a>
                <a href="#"><span class="label label-success">正在启动</span></a>
            </caption>
            <thead>
            <tr>
                <th>id</th>
                <th>任务名称</th>
                <th>任务id</th>
                <th>开始时间</th>
                <th>结束时间</th>
                <th>状态</th>
                <th>查看</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for query in queryset %}
                <tr>
                    <td scope="row">{{ forloop.counter }}</td>
                    <td>{{ query.task_name }}</td>
                    <td>{{ query.task_uuid }}</td>
                    <td>{{ query.start_time }}</td>
                    <td>{{ query.end_time }}</td>
                    <td>{{ query.get_status_display }}</td>
                    <td><a href="/task/api/{{ query.task_uuid }}" target="_blank">详细</a></td>
                    <td>
                        <!-- Standard button -->
                        <button type="button" class="btn btn-default btn-xs" id="{{ query.id }}" onclick="btnrun(this)">
                            运行
                        </button>

                        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                        <button type="button" class="btn btn-primary btn-xs" id="{{ query.id }}"
                                onclick="btnstop(this)">停止
                        </button>
                        <button type="button" class="btn btn-info btn-xs" id="{{ query.id }}"
                                onclick="btnrestart(this)">重启
                        </button>
                        <button type="button" class="btn btn-danger btn-xs" id="{{ query.id }}" onclick="btndel(this)">
                            删除
                        </button>

                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block js %}
    <script type="text/javascript">
        toastr.options = {
            closeButton: false, // 是否显示关闭按钮，（提示框右上角关闭按钮）
            debug: true, // 是否使用deBug模式
            progressBar: true, // 是否显示进度条，（设置关闭的超时时间进度条）
            positionClass: "toast-top-center", // 设置提示款显示的位置
            onclick: null, // 点击消息框自定义事件
            showDuration: "300", // 显示动画的时间
            hideDuration: "1000", //  消失的动画时间
            timeOut: "20000", //  自动关闭超时时间
            extendedTimeOut: "1000", //  加长展示时间
            showEasing: "swing", //  显示时的动画缓冲方式
            hideEasing: "linear", //   消失时的动画缓冲方式
            showMethod: "fadeIn", //   显示时的动画方式
            hideMethod: "fadeOut" //   消失时的动画方式
        };

        function btnrun(obj) {
            obj = {"id": obj.id}
            $.ajax({
                url: 'http://127.0.0.1:8088/task/run',
                type: "post",
                data: obj,
                error: function () {
                    toastr.success('失败', '运行失败');
                },
                success: function (result) {
                    var data = result.data.toString()
                    var s = String('任务已经运行')
                    if (data == s) {
                        toastr.success(s);
                    } else {
                        alert('成功, 正在运行');
                        location.reload();
                    }

                }
            })
        }

        function btndel(obj) {

            obj = {"id": obj.id};
            $.ajax({
                url: 'http://127.0.0.1:8088/task/del',
                type: "post",
                data: obj,
                error: function () {
                    toastr.success('失败', '删除失败');

                },
                success: function (result) {
                    toastr.success('成功', '正在删除');
                    location.reload();
                }
            })
        }

        function btnstop(obj) {
            obj = {"id": obj.id};
            $.ajax({
                url: 'http://127.0.0.1:8088/task/stop',
                type: "post",
                data: obj,
                error: function () {
                    toastr.success('停止失败');
                },
                success: function (result) {
                    var data = result.data.toString()
                    var s = String('任务停止失败')
                    if (data == s) {
                        toastr.success('任务未启动');
                    } else {
                        alert('正在停止');
                        location.reload();
                    }
                }
            })
        }

    </script>

{% endblock %}